*, :before, :after, :hover {
    box-sizing: border-box;
}

* {
    outline: none;
}

html, body {
    width: 100%;
}

body {
    background: #f5f5f5;
    background-size: 10%;
    font-size: 1.2rem;
    font-weight: 700;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #319dd4;
    height: 820px;
}


.header-image {
    height: 550px;
    width: 100%;
    background: url("../images/portada/dating-hero.jpg") center no-repeat;
    background-size: cover;
    -ms-background-position-y: -50px;
    background-position-y: -50px;
}

.header-image > p {
    padding-top: 105px;
    text-align: center;
    color: white;
    font-size: 46px;
    font-weight: bold;
}

#header-slider{
    margin-top: -25px;
}

#slider {
    width: 1220px;
    height: 123px;
    /*border: 5px solid black;*/
    margin: 50px auto;
    overflow: hidden;
}

#slider #polosa {
    width: 4514px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

#slider #polosa img {
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}

#slider #polosa::after {
    content: "";
    display: block;
    clear: both;
}


.stage-2-form{
    max-width: 800px;
}

#agree-color{
    color: #4b83a3;
}
.btn-sendForm{
    width: 150px;
    height: 38px;
}

.app-navbar{
    background-color: #319dd4;
}
#landing-area{
    height: 550px;
}
.white{
    color: white;
}

.bg-photo{
    width: 100%;
    background: url(/static/images/portada/dating-hero.jpg) center no-repeat;
    background-size: cover;
    -ms-background-position-y: -50px;
    background-position-y: -50px;
}
.btn{
    border-radius: 3px;
}
.btn-primary{
    background: #ff7c2e;
    color: white;
    border: 0;
}
.visible{
    display: block;
}
.hidden{
    display: none;
}
.login-control{
    width:150px;
}
.btn-login{
    color:white;
    background: transparent;
    border: 2px white solid;
    width:150px;
}
.adminHeader{
    background: #209734;
    height: 60px;
}

.AdminTable{
    width: 1200px;
}